@model IEnumerable<ReceitaIndex>
@{
    bool startNewGroup = false;

    TempData["breadcrump.icon"] = "glyphicon glyphicon-pencil";
    TempData["breadcrump.1"] = "Usuário";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Masterchef!</h1>
    <p>As melhores receitas da internet!</p>
</div>

<div class="text-center">
    <form asp-controller="Receita" asp-action="Index" method="get">
        <div class="form-group">
            <label>Busque uma receita</label>
            <input type="text" name="termSearch" class="form-control" value="@TempData["termSearch"]" autofocus />
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</div>

<hr />

@if (Model != null && Model.Any())
{
    <div class="card-deck">
        @foreach (var item in Model)
        {

            <div class="card">
                <img src="@item.ImagemBase64" class="img-responsive img-thumbnail" alt="img" />
                <div class="card-body">
                    <h5 class="card-title">@item.Titulo</h5>
                    <p class="font-italic">@item.CategoriaNome</p>
                    <p class="card-text">@item.ModoPreparo</p>
                    <span class="font-italic">@item.Tags</span>
                </div>
            </div>
        }
    </div>
}
else
{
    <p> Não existe dados cadastrados!</p>
}
